body{margin:0;font-family:'Source Han Serif CN';color:#333}
#title{font-size:3em;font-family:'Source Han Serif CN';font-weight:600;margin:4rem auto;text-align:center}
.mainnav>ul{list-style:none;margin:0 auto;padding:0;max-width:960px;display:flex;justify-content:center}
a{color:#333;text-decoration:none;transition:all .1s}
a:hover{color:black}
a img{transition:all .5s}
a:hover img{filter:brightness(1.2)}
.mainnav>ul>li{display:inline-block;margin:0.5em 1em}
.mainnav>ul>li>a{display:inline-block;position:relative;padding:0.5em 1em}
.mainnav>ul>li>a::after{content:'';width:0;border-bottom:solid 2px black;position:absolute;bottom:0;left:0;border-color:#c42;transition:all .1s ease-in}
.mainnav>ul>li:hover>a::after{width:4em}
.mainnav>ul>li>ul{list-style:none;background:white;opacity:0;visibility:hidden;position:absolute;width:960px;left:50%;margin-left:-480px;padding:1em 2em;column-count:4;column-width:5em;box-shadow:0 6px 12px #0004;transform:translate(0,1em);transition:all .1s ease-in}
.mainnav>ul>li:hover>ul{display:block;opacity:1;visibility:visible;transform:translate(0,.5em)}
.mainnav>ul>li>ul>li{text-align:center;margin:.5em}
#items{max-width:1024px;margin:1em auto}
.r12 img{width:100%}
.r12>*:first-child{float:left;width:65%;margin-right:2%}
.r12>*:not(:first-child){float:left;width:30%;margin-bottom:2%}
hr{color:silver;clear:both}
h2{font-size:1.5em;text-align:center}
.rec{display:flex;flex-wrap:wrap;justify-content:space-around}
.item{padding:1em;margin:1em}
.item img{max-width:20em;max-height:15em}
figcaption{text-align:center;vertical-align:middle}
.cart{background:silver;border-radius:50%;padding:16px;margin:8px;display:inline-block;transition:all .2s}
.like,.diff{visibility:hidden;opacity:0;background:silver;border-radius:50%;padding:12px;margin:6px;display:inline-block;transition:all .2s}
.cart:hover,.like:hover,.diff:hover{background:#c42}
.like{transform:translate(48px,-10px)}
.diff{transform:translate(-48px,-10px)}
.item:hover .like,.item:hover .diff{transform:translate(0,-10px);visibility:visible;opacity:1}
.w{max-width:960px;text-align:right;margin:0 auto}
.w img{margin:4px}
.t{float:right;margin:4px;color:white;font-family:'sans-serif'}
header{height:2em;border-bottom:solid 4px silver;background:#c42;vertical-align:middle}
footer{height:24em;border-top:solid 4px #c42;background:#444}